.fastest-lap-container {
  background-color: #000;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 3px outset #fdc91d;
  margin-bottom: 20px;
  padding: 10px 0;
}

.fastest-lap-header {
  background-color: #000;
  border: 3px outset #fdc91d;
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}