.events__next-event__main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 110px;
  border: 4px outset #c9c9c5;
  border-radius: 8px;
  background-color: #000;
}
